<!DOCTYPE html>
<html>

<!-- Head -->
<head>

<title>Home</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<!-- //Meta-Tags -->

<!-- Custom-Stylesheet-Links -->
<!-- Bootstrap-Core-CSS --> <link rel="stylesheet"	href="../../indexstatic/help/bootstrap.min.css" type="text/css" media="all">
<!-- Index-Page-CSS --> 	<link rel="stylesheet"	href="../../indexstatic/css/help.css"  type="text/css" media="all">
<!-- //Custom-Stylesheet-Links -->

<!-- Fonts -->
<!-- Logo-Font --> 	 <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Fredericka+the+Great' 	   type='text/css'>
<!-- //Fonts -->

</head>
<!-- //Head -->

<!-- Body -->
<body>

<!-- Header -->
<div class="header agileits w3layouts">

	<div class="col-md-12 agileits w3layouts header-right">

		<div class="navigation agileits w3layouts">
			<!-- Navbar -->
			<nav class="navbar agileits w3layouts navbar-default">
				<div class="container-fluid">

					<div class="navbar-header agileits w3layouts">
						<button type="button" class="navbar-toggle agileits w3layouts collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
							<span class="sr-only agileits w3layouts">Toggle navigation</span>
							<span class="icon-bar agileits w3layouts"></span>
							<span class="icon-bar agileits w3layouts"></span>
							<span class="icon-bar agileits w3layouts"></span>
						</button>
					</div>

					<div class="navbar-collapse agileits w3layouts collapse hover-effect" id="navbar">
						<ul class="agileits w3layouts">
							<li class="agileits w3layouts"><a href="#about">用户管理</a></li>
							<li class="agileits w3layouts"><a href="#team">部门管理</a></li>
							<li class="agileits w3layouts"><a href="#services">职位管理</a></li>
							<li class="agileits w3layouts"><a href="#gallery">通知发送</a></li>
							<li class="agileits w3layouts"><a href="#contact">我的消息</a></li>
							<li class="agileits w3layouts"><a href="#task">我的任务</a></li>
							<li class="agileits w3layouts"><a href="#function">权限分配</a></li>
							<li class="agileits w3layouts"><a href="#update">个人信息修改</a></li>
						</ul>
					</div>

				</div>
			</nav>
			<!-- //Navbar -->
		</div>

		<div class="logo agileits w3layouts">
			<h1 class="agileits w3layouts"><a href="index.html">OA办公自动化系统帮助文档</a></h1>
			<img src="../../indexstatic/img/logo-style.png" alt="agileits w3layouts">
		</div>

		<div class="clearfix"></div>

	</div>

	<div class="clearfix"></div>

</div>
<!-- //Header -->



<!-- About -->
<div class="about agileits w3layouts" id="about">
	<h2>用户管理</h2>

	<div class="about-grid1 agileits w3layouts">
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-info">
			<h3>普通用户</h3>
			<p>
			管理普通用户的信息，包括修改和删除信息<br/>
			超级管理员能查看和修改删除普通用户的所有信息<br/>
			中级用户（中级管理员）只能修改同个部门下的员工
			</p>
		</div>
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-image">
			<img src="../../indexstatic/img/normaluser.png" alt="agileits w3layouts">
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="about-grid2 agileits w3layouts">
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-image">
			<img src="../../indexstatic/img/muser.png" alt="agileits w3layouts">
		</div>
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-info">
			<h3>中级用户</h3>
			<p>管理中级用户的信息，包括修改和删除信息<br/>
			只有超级管理员能查看和修改删除中级用户的所有信息<br/></p>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="about-grid3 agileits w3layouts">
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-info">
			<h3>添加用户</h3>
			<p>添加一个员工，只有超级管理员可以使用</p>
		</div>
		<div class="col-md-6 agileits w3layouts col-sm-6 about-grid about-image">
			<img src="../../indexstatic/img/add.png" alt="agileits w3layouts">
		</div>
		<div class="clearfix"></div>
	</div>

</div>
<!-- //About -->

<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>



<div class="about agileits w3layouts" id="team">
	<h2>部门管理</h2>

	<div class="about-grid1 agileits w3layouts">
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-info">
			<h3>部门管理</h3>
			<p>
			管理部门的信息，点击选择右侧操作栏的按钮，进行修改和删除部门
			</p>
		</div>
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-image">
			<img src="../../indexstatic/img/dept.png" alt="agileits w3layouts">
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="about-grid2 agileits w3layouts">
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-image">
			<img src="../../indexstatic/img/adddept.png" alt="agileits w3layouts">
		</div>
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-info">
			<h3>部门添加</h3>
			<p>填入相应信息，确定添加部门
			</p>
		</div>
		<div class="clearfix"></div>
	</div>

</div>



<!-- Tabs -->
<div  class="about agileits w3layouts" id="services">
	<h2>职位管理</h2>

	<div class="about-grid1 agileits w3layouts">
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-info">
			<h3>职位管理</h3>
			<p>
				管理职位的信息，点击选择右侧操作栏的按钮，进行修改和删除职位
			</p>
		</div>
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-image">
			<img src="../../indexstatic/img/job.png" alt="agileits w3layouts">
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="about-grid2 agileits w3layouts">
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-image">
			<img src="../../indexstatic/img/addjob.png" alt="agileits w3layouts">
		</div>
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-info">
			<h3>职位添加</h3>
				<p>填入相应信息，确定添加职位
			</p>
		</div>
		<div class="clearfix"></div>
	</div>

</div>
<!-- //Tabs -->



<!-- Gallery -->
<div class="about agileits w3layouts" id="gallery">
	<h2>通知发送</h2>

	<div class="about-grid1 agileits w3layouts">
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-info">
			<h3>通知发送</h3>
			<p>
			左侧选择收件人，可全选，可选多个，可选单个<br/>
			右侧输入发送通知的内容，可添加附件
			</p>
		</div>
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-image">
			<img src="../../indexstatic/img/file.png" alt="agileits w3layouts">
		</div>
		<div class="clearfix"></div>
	</div>

</div>
<!-- //Gallery -->



<!-- Contact -->
<div class="about agileits w3layouts" id="contact">
	<h2>我的消息</h2>

	<div class="about-grid1 agileits w3layouts">
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-info">
			<h3>我的消息</h3>
			<p>
			显示用户所有接收的通知消息<br/>
			可查看通知，可删除通知<br/>
			点击查看通知跳转通知详细页
			</p>
		</div>
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-image">
			<img src="../../indexstatic/img/msglist.png" alt="agileits w3layouts">
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="about-grid2 agileits w3layouts">
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-image">
			<img src="../../indexstatic/img/detail.png" alt="agileits w3layouts">
		</div>
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-info">
			<h3>通知详情页</h3>
			<p>
			查看通知的详细信息<br/>
			有附件的可以下载附件<br/>
			可以设置消息为已读
			</p>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //Contact -->

<div class="about agileits w3layouts" id="task">
	<h2>我的任务</h2>

	<div class="about-grid1 agileits w3layouts">
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-info">
			<h3>我的任务</h3>
			<p>使用fullcalendar插件修改<br/>
			可显示用户所有的任务<br/>
			可查看任务，修改任务，添加任务，查看任务<br/>
			可添加简单任务，也可选择添加详细任务
			</p>
		</div>
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-image">
			<img src="../../indexstatic/img/task.png" alt="agileits w3layouts">
		</div>
		<div class="clearfix"></div>
	</div>

</div>

<div class="about agileits w3layouts" id="function">
	<h2>权限分配</h2>

	<div class="about-grid2 agileits w3layouts">
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-info">
			<h3>权限分配</h3>
			<p>选择一个角色<br/>
			然后再选择要分配的功能给他<br/>
			左侧菜单栏会根据权限自动生成
			</p>
		</div>
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-image">
			<img src="../../indexstatic/img/function.png" alt="agileits w3layouts">
		</div>
		<div class="clearfix"></div>
	</div>

</div>

<div class="about agileits w3layouts" id="update">
	<h2>个人信息修改</h2>

	<div class="about-grid1 agileits w3layouts">
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-info">
			<h3>信息修改</h3>
			<p>修改个人的信息
			</p>
		</div>
		<div class="col-md-6 col-sm-6 agileits w3layouts about-grid about-image">
			<img src="../../indexstatic/img/update.png" alt="agileits w3layouts">
		</div>
		<div class="clearfix"></div>
	</div>

</div>




<!-- Custom-JavaScript-File-Links -->

	<!-- Default-JavaScript-File -->   <script type="text/javascript" src="../../indexstatic/help/jquery.min.js"></script>
	<!-- Bootstrap-JavaScript-File --> <script type="text/javascript" src="../../indexstatic/help/bootstrap.min.js"></script>

	<!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
		<script type="text/javascript">
			$(document).ready(function() {
				var defaults = {
					containerID: 'toTop',
					containerHoverID: 'toTopHover',
					scrollSpeed: 100,
					easingType: 'linear',
				};
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		<a href="#" class="agileits w3layouts" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
	<!-- //Slide-To-Top JavaScript -->

	<!-- Smooth-Scrolling-JavaScript -->
		<script type="text/javascript" src="../../indexstatic/help/move-top.js"></script>
		<script type="text/javascript" src="../../indexstatic/help/easing.js"></script>
		<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll, .navbar li a, .footer li a").click(function(event){
						$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
					});
				});
		</script>
	<!-- //Smooth-Scrolling-JavaScript -->


<!-- //Custom-JavaScript-File-Links -->


</body>
</html>