<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>oa办公自动化</title>

    <!--<link rel="stylesheet" href="layui/css/layui.css" />-->
    <!-- Bootstrap core CSS -->
    <link href="../../indexstatic/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="../../indexstatic/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../indexstatic/assets/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="../../indexstatic/assets/lineicons/style.css">
    <!-- Custom styles for this template -->
    <link href="../../indexstatic/assets/css/style.css" rel="stylesheet">
    <link href="../../indexstatic/assets/css/style-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="../../indexstatic/css/style_admin.css">

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../indexstatic/assets/js/html5shiv.js"></script>
      <script src="../../indexstatic/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
	
  	<section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
	          <div class="sidebar-toggle-box">
	              <div class="fa fa-bars tooltips" data-placement="right" data-original-title="隐藏/显示菜单"></div>
	          </div>
            <!--logo start-->
            <a href="/module/admin/index" class="logo"><b>oa办公自动化</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu" id="header-app" v-cloak>
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" :title="num+'条消息'"  class="dropdown" >
                        <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme" v-html="numberFormat(num)"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green" v-if="num>0">您有 {{num}} 条未读消息</p>
                                <p class="green" v-else="">暂无未读消息</p>
                            </li>
                            <li v-for="(message,index) in newMessages.receiveFiles" v-if="message.isLook==0&&message.isDelete==0&&index<5">
                                <a href="javascript:;" @click="getmessage(message.sendFile.fileID,message.receiveID)">
                                    <span class="photo"><img alt="avatar" src="../../indexstatic/assets/img/ui-danro.jpg"></span>
                                    <span class="time">时间：{{timeFormat(message.sendFile.fileTime)}}</span>
                                    <span class="subject">
                                    	<span class="from">来自：{{message.sendFile.employee.dept.deptName}}{{message.sendFile.employee.job.jobName}}{{message.sendFile.employee.employeeName}}</span>
                                    </span>
                                    <span class="message">
                                        	标题：{{titleFormat(message.sendFile.fileName)}}
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" @click="msg">查看所有消息</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                    
                    
                    <li class="dropdown">
                    	 <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span class="badge bg-theme" v-html="numberFormat(tasknum)"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green" v-if="tasknum>0">您有 {{tasknum}} 个未完成事务</p>
                                <p class="green" v-else="">暂无未完成事务</p>
                            </li>
                            <li v-for="(task,index1) in newTask" v-if="task.taskState==0&&index1<5">
                                <a href="javascript:;" @click="tasks">
                                    <span class="photo"><img alt="avatar" src="../../indexstatic/assets/img/calendar.jpg"></span>
                                    <span class="time">开始时间：{{timeFormat(task.start)}}</span><br/>
                                    <span class="time" v-if="task.end">结束时间：{{timeFormat(task.end)}}<br/></span>
                                    <span v-if="task.allDay==1">全天事件</span>
                                    
                                    <span class="subject" v-if="task.title">
                                    	<span class="from">标题：{{task.title}}</span>
                                    </span>
                                    <span class="message" v-if="task.taskInfo">
                                        	内容：{{titleFormat(task.taskInfo)}}
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" @click="tasks">查看所有事务</a>
                            </li>
                        </ul>
                    </li>
                    
                    
                    <!-- settings start -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" @click="settings" title="个人信息" href="javascript:;">
                            <i class="fa fa-user"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" @click="logout" title="退出登录" href="javascript:;">
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </li>
                    <!-- settings end -->
                </ul>
                <!--  notification end -->
            </div>
      	  	<!--<div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Logout</a></li>
            	</ul>
            </div>--> 
      </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
   		<!-- sidebar app start -->
     <aside>
          <div id="sidebar" class="nav-collapse" >
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              <div  id="sidebar-app" v-cloak>
              	  <p class="centered"><a href="profile.html"><img src="../../indexstatic/assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered" title="账户信息"><a @click="profileEdit" href="javascript:;"><span>{{user.aId}}</span></a></h5>
                  <li class="mt">
                      <a class="active" @click="go('1.html','主页')" href="javascript:;">
                          <i class="fa fa-dashboard"></i>
                          <span>主页</span>
                      </a>
                  </li>  
               </div>
				<div id="menu">
					<div v-for="r in power">
						<li class="sub-menu" v-if="r.function.functionID==1">
							<a href="javascript:;">
								 <i class="fa fa-user"></i> <span>{{r.function.functionName}}</span>
							</a>
							<ul class="sub">
								<li v-for="t in power" v-if="t.function.multilevel==1">
									<a :onclick="t.function.url">{{t.function.functionName}}</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu" v-if="r.function.functionID==4">
							<a href="javascript:;">
								 <i class="fa fa-building-o"></i> <span>{{r.function.functionName}}</span>
							</a>
							<ul class="sub">
								<li v-for="t in power" v-if="t.function.multilevel==4">
									<a :onclick="t.function.url">{{t.function.functionName}}</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu" v-if="r.function.functionID==5">
							<a href="javascript:;">
								 <i class="fa fa-briefcase"></i> <span>{{r.function.functionName}}</span>
							</a>
							<ul class="sub">
								<li v-for="t in power" v-if="t.function.multilevel==5">
									<a :onclick="t.function.url">{{t.function.functionName}}</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu" v-if="r.function.multilevel!=1&&r.function.multilevel!=4&&r.function.multilevel!=5&&r.function.functionID!=1&&r.function.functionID!=4&&r.function.functionID!=5">
							<a :onclick="r.function.url" href="javascript:;"> 
							<i v-if="r.function.functionID==6" class="fa fa-bell"></i> 
							<i v-if="r.function.functionID==7" class="fa fa-comment"></i> 
							<i v-if="r.function.functionID==8" class="fa fa-tasks"></i> 
							<i v-if="r.function.functionID==9" class="fa fa-lock"></i> 
							<span>{{r.function.functionName}}</span>
							</a>
						</li>
					</div>
				</div>

				</ul>
              <!-- sidebar menu end-->
          </div>

      </aside>
      
      <!--sidebar end-->
      <!-- sidebar app end -->

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
          		<div id="title-app" v-cloak>
							<h4><i class="fa fa-angle-right"></i> {{title}}</h4>
				</div>
              	<div id="page-container" class="row"></div>
          </section>
      </section>

  </section>

    <script src="../../indexstatic/js/jquery-3.3.1.js"></script>
    <script src="../../indexstatic/js/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- 模板js -->
    <!--<script src="../../indexstatic/assets/js/jquery.js"></script>-->
    <!--<script src="../../indexstatic/assets/js/jquery-1.8.3.min.js"></script>-->
    <!--<script src="../../indexstatic/assets/js/bootstrap.min.js"></script>-->
    <!-- 手风琴菜单 -->
    <script src="../../indexstatic/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="../../indexstatic/assets/js/jquery.scrollTo.min.js"></script>
    <script src="../../indexstatic/assets/js/jquery.nicescroll.js"></script>
    <!--模板js-->
    <script src="../../indexstatic/assets/js/common-scripts.js"></script>
    <!-- 提醒插件 -->
    <script src="../../indexstatic/assets/js/gritter/js/jquery.gritter.js"></script>
    <script src="../../indexstatic/assets/js/gritter-conf.js"></script>
    <!-- layer -->
    <script src="../../indexstatic/js/plugins/layer/layer.js"></script>
    <script src="../../indexstatic/js/vue.js"></script>
    <!-- 欢迎提醒 -->
		<script type="text/javascript">
		 new Vue({
				el : "#a",
				data : {
					datas:{}
				},
				methods:{
				initialization: function () {
					var self = this;
					$.ajax({
					    type: 'get',//请求方式				 
					    url: 'employee_getinfo',//地址，就是json文件的请求路径
					    async: false,
					    dataType: 'json',//数据类型可以为 text xml json  script  jsonp
					    success: function(result){
					        self.datas=result.employee;
					    	if(result.employee.photo)
							      $("img").prop("src","../../"+result.employee.photo);   
					    	var unique_id = $.gritter.add({
					            // (string | mandatory) the heading of the notification
					            title: '欢迎使用OA办公自动化!',
					            // (string | mandatory) the text inside the notification
					 			text: '登录时间：'+new Date(),            // (string | optional) the image to display on the left
					            image: '../../'+result.employee.photo,
					            // (bool | optional) if you want it to fade out on its own or just sit there
					            sticky: true,
					            // (int | optional) the time you want it to be alive for before fading out
					            time: '',
					            // (string | optional) the class name you want to apply to that specific message
					            class_name: 'my-sticky-class'
					        });
					 },
					 error: function(){
						 alert("获取个人信息失败");
					 }
					})
				}
				},
				created: function () {
					this.initialization();
				}
			});
		 
		</script>
<!--     <script src="../../indexstatic/js/commons/common.js"></script> -->
  	<script src="../../indexstatic/js/vue.js"></script>
  	<script src="../../indexstatic/js/admin/index.js"></script>
  </body>
</html>
