<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">

    <title>OA办公自动化管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="../../indexstatic/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="../../indexstatic/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="../../indexstatic/assets/css/style.css" rel="stylesheet">
    <link href="../../indexstatic/assets/css/style-responsive.css" rel="stylesheet">

	<link rel="stylesheet" href="../../indexstatic/css/style_admin.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="../../indexstatic/assets/js/html5shiv.js"></script>
	<script src="../../indexstatic/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
	  <div id="login-page" v-cloak>
	  	<div class="container">
	  	
		  <div class="form-login">
			<h2 class="form-login-heading">系统登录</h2>
			<div class="login-wrap">
				<input v-model="username" type="text" class="form-control" placeholder="用户编号" autofocus>
				<br>
				<input v-model="password" type="password" class="form-control" placeholder="密码">
				<br>	
				<label class="checkbox">
                    <span class="text-danger" v-html="msg"></span>
                </label>					
				<button class="btn btn-theme btn-block" @click="login"><i class="fa fa-lock"></i>&nbsp;登录</button>
			</div>		
		  </div>
	  	
	  	</div>
	  </div>

    <!-- js placed at the end of the document so the pages load faster -->
	 <script src="../../indexstatic/js/jquery-3.3.1.js"></script>
	 <script src="../../indexstatic/js/plugins/bootstrap/js/bootstrap.js"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="../../indexstatic/assets/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("../../indexstatic/assets/img/login-bg.jpg", {speed: 500});
    </script>
	  <!-- layer -->
	<script src="../../indexstatic/js/plugins/layer/layer.js"></script>

	<script src="../../indexstatic/js/commons/common.js"></script>
	<script src="../../indexstatic/js/vue.js"></script>
	<script src="../../indexstatic/js/admin/login.js"></script>

  </body>
</html>
