<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
	  <meta charset="UTF-8">
	<title>树形</title> 
	<link rel="stylesheet" href="../../indexstatic/multiselect/css/common.css" type="text/css" />
	<link type="text/css" rel="stylesheet" href="../../indexstatic/multiselect/css/themes/smoothness/jquery-ui-1.7.1.custom.css" />
	<link type="text/css" href="../../indexstatic/multiselect/css/ui.multiselect.css" rel="stylesheet" />
	
</head>
<body>
 
<div id="wrapper"> 
	
	<div id="content">

		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">人事部</a></li>
				<li><a href="#tabs-2">销售部</a></li>
			</ul>
			<div id="tabs-1">				
					<dl>
						<dt>选择收件人:</dt>
						<dd>
							<select id="countries" class="multiselect" multiple="multiple" name="countries[]">
								<option value="小米">AA小米</option>
								<option value="AFG">Afghanistan</option>
								<option value="ALB">Albania</option>

								<option value="AUT" selected="selected">Austria</option>

								<option value="BGD">Bangladesh</option>
								<option value="BLR">Belarus</option>
								<option value="BGR">Bulgaria</option>
							</select>
						</dd>
					</dl>

			</div>
			<div id="tabs-2">
					<dl>
						<dt>选择收件人:</dt>
						<dd>
							<select id="languages" class="multiselect" multiple="multiple" name="languages[]">
								<option value="UZB">Uzbekistan</option>
								<option value="VAT">Vatican City</option>
								<option value="VNM">Vietnam</option>
							</select>
						</dd>
					</dl>
			</div>
		</div>
		
	</div> 
</div> 
<script type="text/javascript" src="../../indexstatic/multiselect/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="../../indexstatic/multiselect/js/jquery-ui-1.8.custom.min.js"></script>
	<script type="text/javascript" src="../../indexstatic/multiselect/js/plugins/localisation/jquery.localisation-min.js"></script>
	<script type="text/javascript" src="../../indexstatic/multiselect/js/plugins/tmpl/jquery.tmpl.1.1.1.js"></script>
	<script type="text/javascript" src="../../indexstatic/multiselect/js/plugins/blockUI/jquery.blockUI.js"></script>
	<script type="text/javascript" src="../../indexstatic/multiselect/js/ui.multiselect.js"></script>
	<script type="text/javascript" src="../../indexstatic/multiselect/js/locale/ui.multiselect-zh-CN.js"></script>
	<script type="text/javascript">
		$(function(){
			$.localise('ui.multiselect', {/*language: 'es',/* */ path: 'js/locale/'});

			// local
			$("#countries").multiselect();
			// remote
			$("#languages").multiselect({
				remoteUrl: "ajax.php"
			});

			// only if the function is available...
			if ($.fn.themeswitcher) {
				$('#switcher')
					.before('<h4>Use the themeroller to dynamically change look and feel</h4>')
					.themeswitcher();
			}
		});
	</script>
	<script type="text/javascript" src="../../indexstatic/multiselect/js/page.js"></script>
<script>
function findall(){
	//alert($('.multiselect').find('option[selected]').length);
	var data = $('.multiselect').find('option[selected]');
		/* for(var i=0;i<data.length;i++)
		{
			var t = data.eq(i);
			alert(t.text());
		} */
	parent.test(data);
}
</script>
</body> 
</html>
